@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss-primeui";

@theme static {
  --font-sans: 'Public Sans', sans-serif;

  --p-primary-color: #ffffff;
  --p-secondary-color: #d6ffe8;
  --p-tertiary-color: #00dc82;
  

}